<div class="Main_Container">
    <div class="picture_container">
        <img src="https://i.ibb.co/fFqZ9Nj/istockphoto-496359598-612x612.jpg " alt="">
    </div>
    <div class="Sub_container">
        <div class="Description_container">
            <h1>hhhhhhhhhhhh</h1>
            <p>ergwefwe wefgwegwe gweg wegwe wegwe gewgw egwgwe </p>
            <!-- <div *ngFor="let product of products">
                <h2>{{ product.name }}</h2>
                <p>{{ product.description }}</p>
                <p>Price: {{ product.price  }}</p>
            </div> -->
        </div>
        <div class="price_container"></div>
    </div>

</div>
