<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap">
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Newsreader&display=swap">
<link href="https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Italianno&display=swap" rel="stylesheet">


<router-outlet>
    <div class="TopNavbar">
      <div class="TopSubNavbar">
        <h3>World Peas</h3>
        <div class="SubNavbar">
          <button>Shop</button>
          <button>News</button>
          <button>About Us</button>
          <button>Basket</button>
        </div>
      </div>
    </div>

    <div class="SecondMainBar">
      <h1>We’re <SPAN>Farmers, purveyors,</SPAN>  and <SPAn>eaters</SPAn> of organically grown food.</h1>
      <button>Browse our shop</button>
    </div>

    <div class="Third-Main-Bar">

      <div class="First-Container"></div>

        <div class="Second-container">
          <div class="Image-container"></div>
          <p class="TextUnderImage"> <span>Central California —</span> The person who grew these was located in Central California and, er, hopefully very well-compensated.</p>
        </div>

    </div>


    <div class="fourth-Main-bar">


      <div class="text-Contaiener">
        <p class="Special-P">WHAT WE BELIEVE</p>
       
        <p>We believe in produce. Tasty produce. Produce like:

        Apples. Oranges. Limes. Lemons. Guavas. Carrots. Cucumbers. Jicamas. Cauliflowers. Brussels sprouts. Shallots. Japanese eggplants. Asparagus. Artichokes—Jerusalem artichokes, too. Radishes. Broccoli. Baby broccoli. Broccolini. Bok choy. Scallions. Ginger. Cherries. Raspberries. Cilantro. Parsley. Dill. 
        
        What are we forgetting?
        
        Oh! Onions. Yams. Avocados. Lettuce. Arugula (to some, “rocket”). Persian cucumbers, in addition to aforementioned “normal” cucumbers. Artichokes. Zucchinis. Pumpkins. Squash (what some cultures call pumpkins). Sweet potatoes and potato-potatoes. Jackfruit. Monk fruit. Fruit of the Loom. Fruits of our labor (this website). Sorrel. Pineapple. Mango. Gooseberries. Blackberries. Tomatoes. Heirloom tomatoes. Beets. Chives. Corn. Endive. Escarole, which, we swear, we’re vendors of organic produce, but if you asked us to describe what escaroles are...
      </p>
      </div>
      
    </div>



    <footer>
      <span>Privacy Policy</span> <span>Digital Millennium Copyright Act</span>   <span>Terms of Service</span> <span>Developed by HS</span>
    </footer>

    
</router-outlet>
